/*-------------------------------------------------------
  Global stylesheet
---------------------------------------------------------*/


/*-------------------------------------------------------
  Variables & Mixins
---------------------------------------------------------*/


/* Variables
---------------------------------------------------------*/


/* Colors */


/* Font sizing */


/* Typeface */


/* Helper Styles
---------------------------------------------------------*/

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sans-serif {
    font-family: "Open Sans", sans-serif;
}

.cursive {
    font-family: "Pacifico", cursive;
}


/*-------------------------------------------------------
  Base styles
---------------------------------------------------------*/


/* 
  Apply a natural box layout model to all elements, 
  but allowing components to change.
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h1,
h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
}

a {
    color: #ed145a;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #aaa;
}

.content-wrapper {
    max-width: 930px;
    width: 80%;
    margin: 0 auto;
}


/*-------------------------------------------------------
  Modules and standalone components
---------------------------------------------------------*/


/* Header styles
---------------------------------------------------------*/


/* Global header - includes global nav */

.global-header {
    padding: 30px 55px 40px;
    position: relative;
}

.global-nav {
    position: absolute;
    top: 40px;
    right: 55px;
    font-size: 0;
}

.global-nav a {
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    color: #222;
}

.global-nav a:hover {
    color: #ed145a;
}


/* Blog post content header */

.post-header {
    margin-bottom: 40px;
}

.post-header p {
    margin: 0;
}

.post-author {
    font-size: 14px;
    text-transform: uppercase;
}

.post-date,
.post-source {
    font-size: 12px;
}

.post-source span {
    text-transform: uppercase;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-1.jpg) center center no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/* Main content area
---------------------------------------------------------*/

main {
    padding-bottom: 60px;
}

.feature-img {
    width: 100%;
    margin-bottom: 60px;
}


/* Buttons */

article {
    /* TODO: Could possibly move to base or add class
  to make specific to this page only?*/
    position: relative;
}

button,
input[type="submit"] {
    font-size: 18px;
    border: none;
}

.btn-group {
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    background: #aaa;
    color: white;
    padding: 6px 30px;
    border-radius: 4px;
    line-height: 1;
    vertical-align: top;
}

.btn-print,
.btn-subscribe {
    background: #ed145a;
}

.btn-save {
    background: #222;
}

.btn-share {
    background: #63bae4;
}


/* Homepage teaser */

.excerpt {
    overflow: hidden;
    margin: 20px 0;
}

.excerpt img {
    float: left;
    margin-right: 15px;
    max-width: 100%;
}

.excerpt h3 {
    margin-top: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 48%;
    margin-right: 2%;
    padding: 20px;
}


/* Global footer
---------------------------------------------------------*/

.global-footer {
    background: #222;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-2.jpg) center center no-repeat;
    background-size: cover;
}

.global-footer h2 {
    font-size: 18px;
}

.about,
.credits {
    width: 50%;
    float: left;
}

.credits {
    text-align: right;
}

.credits ul {
    list-style-type: none;
}


/*-------------------------------------------------------
  Style Guide Page
---------------------------------------------------------*/


/* 
  Only for adding styles for presenting examples and
  documentation. Make sure these styles don't affect 
  the components or project styles.
*/

.style-guide>h1 {
    padding: 60px 0;
}

.style-guide section {
    padding-top: 35px;
}

.style-guide pre {
    padding: 10px 15px;
    line-height: 1.4;
    border: 1px solid #222;
}

.style-guide .example {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    padding: 20px 0 30px;
}

.style-guide .red {
    color: #ed145a;
}

.style-guide .blue {
    color: #63bae4;
}

.style-guide .black {
    color: #222;
}

.style-guide .gray {
    color: #aaa;
}

#faunastyle2 {
    color: #2EB872;
    font-weight: bold;
}

:root {
    --primary: #2EB872;
    --light: #F3F4F5;
    --dark: #282F34;
}

.visiting-hours {
    background-size: cover;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-2.jpg) center center no-repeat;
    color: #fff;
}

.visiting-hours .list-group-item {
    display: flex;
    justify-content: space-between;
    color: var(--light);
    background: rgba(0, 0, 0, .15);
    border-color: rgba(255, 255, 255, .15);
}

.visiting-hours .table {
    color: var(--light);
    background: rgba(0, 0, 0, .15);
}

.visiting-hours .table td {
    padding: .5rem 1rem;
    border-color: rgba(255, 255, 255, .15);
}

.visiting-hours .table tr:last-child td {
    border: none;
}


/*Aqui lo de los cuadritos*/

.membership-item {
    padding: 45px 30px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .7);
}

.membership-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.membership-item .display-1 {
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
}

.separador {
    margin-right: 10pt;
    margin-top: 2%;
    padding: auto;
}

.separador h4 {
    padding-right: 35px;
}

.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
    border: 5px solid var(--primary);
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    height: 100%;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/*.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-1.jpg) center center no-repeat;
    background-size: cover;
    
}*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-1.jpg) center center no-repeat;
    background-size: cover;
    float:left;
    width: 100%;
    height: 100%;
}

.header-title {
    font-size: 150%;
    Text-align:center ;
    color: white;   
}

header-carrusel{
    width: 100%;
    float: left;
    height: auto;
}