nav {
    display: flex;
    font-weight: 880px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #3c8036;
}

#Container .principal {
    float: left;
    color: white;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#Container a:hover {
    color: white;
    font-size: large;
    font-weight: bold;
}

#Container a.last {
    border-right: 0px;
}

@media only screen and (max-width:600px) {

    nav #Container .principal {
        width: 100%;
        border-right: 0px;
    }

}